.row {
  width: 100%;
  padding-left: 3px lightgray;
  padding-right: 3px lightgray;
}

.heading{
  float: right; background-color: #8B4513;background-size: 70px;border-left: 2px solid black;border-bottom: 2px solid black;
  color:#FFF5EE;
  font-size: 30px;

}
.pad{
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 12px;
	display: block;
	font-size: 20px;
	font-style: bold;
}